<template>
   <div class="container">
        Welcome to Admin dashboard
   </div>
</template>
<script>
    export default {
        data() {
            return {}    
        },
        mounted() {
            axios
                .get("http://127.0.0.1:8000/api/admin-dashboard", {

                })
                .then(response => {
                    
                });
        },
        methods : {
        }
    }
</script>