<template>
    <div id="main">
        <header id="header">
            <h1 class="m-3">{{ this.appData }}</h1>
            <Menu></Menu>
        </header>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
export default {
    props: ['appData'],
    data() {
        return {
            //
        }
    },
    components: {
        //
    }
}
</script>