<template>
    <div class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" v-if="$auth.ready()">
                <ul class="navbar-nav">
                    <li class="nav-item" v-for="(route, key) in routes.all" v-bind:key="route.path">
                        <router-link :to="{ name : route.path }" :key="key" class="nav-link">{{route.name}}</router-link>
                    </li>
                </ul>
                <ul class="navbar-nav" v-if="$auth.check('admin')">
                    <li class="nav-item" v-for="(route, key) in routes.admin" v-bind:key="route.path">
                        <router-link :to="{ name : route.path }" :key="key" class="nav-link">{{route.name}}</router-link>
                    </li>
                </ul>
                <ul class="navbar-nav" v-if="$auth.check('customer')">
                    <li class="nav-item" v-for="(route, key) in routes.customer" v-bind:key="route.path">
                        <router-link :to="{ name : route.path }" :key="key" class="nav-link">{{route.name}}</router-link>
                    </li>
                </ul>
                <ul class="navbar-nav" v-if="!$auth.check()">
                    <li class="nav-item" v-for="(route, key) in routes.guest" v-bind:key="route.path">
                        <router-link :to="{ name : route.path }" :key="key" class="nav-link">{{route.name}}</router-link>
                    </li>
                </ul>
                <ul class="navbar-nav" v-if="$auth.check()">
                    <li class="nav-item" v-for="(route, key) in routes.auth" v-bind:key="route.path">
                        <router-link :to="{ name : route.path }" :key="key" class="nav-link">{{route.name}}</router-link>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>
<script>
export default {
    data() {
        return {
            routes: {
                // All auth types of user
                all : [
                    { name: 'Home', path: 'home' },
                ],
                // Unlogged
                guest : [
                    { name: 'Register', path: 'register' },
                    { name: 'Login', path: 'login'}
                ],
                // Logged user
                auth : [
                    { name: 'Logout', path: 'logout' }
                ],
                // Admin role only
                admin : [
                    // { name: 'AdminDashboard', path: 'adminDashboard' },
                    { name: 'Hotel', path: 'hotel' },
                    { name: 'Room manager', path: 'room' },
                    { name: 'Room type', path: 'roomType' },
                    { name: 'Room capacity', path: 'roomCapacity' },
                    { name: 'Price list', path: 'priceList' },
                    { name: 'Booking manager', path: 'bookingManager' },
                    { name: 'Customer manager', path: 'customer' },
                ],
                // Customer role only
                customer : [
                    // { name: 'BookingDashboard', path: 'bookingDashboard' },
                    { name: 'Booking', path: 'bookingOnline' },
                    { name: 'Room List', path: 'roomList' },
                    { name: 'Reservation', path: 'reservation' },
                    { name: 'Profile', path: 'profile' },
                ],
            }
        };
    },
    mounted() {
    }
};
</script>