<template>
    <div class="container">
        Logout
    </div>
</template>
<script>
export default {
    data() {
        return {}
    },
    mounted() {
        this.$auth.logout({
            data: {
            },
            success: function () {
                this.success = true
                this.$router.push({name: 'home'})
            },
            error: function (res) {
                // this.$router.push({name: 'home'})
            }
        })
    }
}
</script>
