<template>
   <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Room type manager</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="actions my-3">
                                <router-link class="btn btn-primary" :to="{name: 'roomTypeCreate'}">Add room type</router-link>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>Room type</td>
                                <td colspan="2">Actions</td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="roomType in roomTypes" v-bind:key="roomType.id">
                                    <td>{{ roomType.id }}</td>
                                    <td>{{ roomType.type }}</td>
                                    <td>
                                        <router-link :to="{name: 'roomTypeEdit', params: { id: roomType.id }}" 
                                            class="btn btn-secondary">Edit</router-link>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" @click.prevent="deleteRoomType(roomType.id)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
</template>
<script>
    export default {
        data() {
            return {
                roomTypes : [],
                dialog : null,
            }
        },
        mounted() {
            this.getRoomTypes()
        },
        methods : {
            getRoomTypes() {
                axios
                    .get('http://127.0.0.1:8000/api/room-types')
                    .then(responce => {
                        this.roomTypes = responce.data
                    })
            },
            deleteRoomType(id) {
                var self = this
                this.$dialog.confirm('Please confirm to delete', {
                    cancelText : "Cancel"
                })
                .then(function(){
                    axios
                        .delete("http://127.0.0.1:8000/api/room-types/" + id)
                        .then(() => {
                            self.roomTypes.splice(self.roomTypes.indexOf(id), 1)
                        })
                        .catch(function(error) {
                            Vue.prototype.$dialog.alert('Can\'t delete item', {
                                animation: 'zoom',
                                okText: 'Ok'
                            })
                        })
                })
            }
        }
    }
</script>