<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Edit room type</h3>
                    </div>
                    <div class="alert alert-danger" v-if="hasError">
                        <p v-if="error == 'validation_error'">There are validation errors</p>
                    </div>
                    <div class="card-body">
                        <form v-on:submit="submitUpdate()">
                            <div class="form-group">
                                <label>Room type: </label>
                                <input type="text" v-model='roomType.type' class="form-control"/>
                                <span class="help-block" v-if="hasError && errors.type">{{ errors.type }}</span>
                            </div>
                            <div class="form-group">
                                <router-link :to="{name: 'roomType'}" class="btn btn-link">Back</router-link>
                                <input type="submit" class="btn btn-primary" value="Update"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                roomType : {},
                hasError : false,
                errors : [],
                error : '',
            }
        },
        mounted() {
            this.getRoomType();
        },
        methods : {
            getRoomType() {
                this.id = this.$route.params.id
                axios
                    .get("http://127.0.0.1:8000/api/room-types/" + this.id, {
                    })
                    .then(response => {
                        this.roomType = response.data
                    });
            },
            submitUpdate() {
                axios
                    .put("http://127.0.0.1:8000/api/room-types/" + this.id, this.roomType)
                    .then(response => {
                        this.hasError = false
                        this.$router.push({name: 'roomType'})
                    })
                    .catch(error => {
                        this.hasError = true
                        this.error = error.response.data.status
                        this.errors = error.response.data.errors || {}
                    });
            },
        }
    }
</script>