<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Login</h3>
                    </div>
                    <div class="alert alert-danger" v-if="hasError && !success">
                        <p v-if="error == 'login_error'">Unable to connect with these credentials.</p>
                    </div>
                    <div class="card-body">
                        <form v-on:submit="submitLogin()">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="email" v-model='email' class="form-control"/>
                                <span class="help-block" v-if="hasError && errors.email">{{ errors.email }}</span>
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input id='password' type="password" v-model='password' class="form-control"/>
                                <span class="help-block" v-if="hasError && errors.password">{{ errors.password }}</span>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Login"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                email : null,
                password : null,
                success : false,
                hasError : false,
                error : ''
            }    
        },
        methods : {
            submitLogin() {
                this.$auth.login({
                    data: {
                        email: this.email,
                        password: this.password,
                    },
                    success: function () {
                        this.success = true
                        this.$router.push({name: 'home'})
                    },
                    error: function (res) {
                        this.hasError = true
                        this.error = res.response.data.error
                        this.errors = res.response.data.errors || {}
                    }
                })
            },
        }
    }
</script>