<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Register</h3>
                    </div>
                    <div class="card-body">
                        <form v-on:submit="submitRegister()">
                            <div class="form-group">
                                <p v-if="errors.length">
                                    <b>Plese fix such errors:</b>
                                    <ul>
                                        <li v-for="error in errors">{{ error }}</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="form-group">
                                <label>First name:</label>
                                <input v-model='firstName' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Last name:</label>
                                <input v-model='lastName' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Address:</label>
                                <input v-model='address' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>City:</label>
                                <input v-model='city' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Country:</label>
                                <input v-model='country' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Phone:</label>
                                <input v-model='phone' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Fax:</label>
                                <input v-model='fax' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="email" v-model='email' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input id='password' type="password" v-model='password' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Confirm password:</label>
                                <input id='passwordCheck' type="password" v-model='passwordCheck' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Register"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                errors : [],
                firstName : null,
                lastName : null,
                address : null,
                city : null,
                country : null,
                phone : null,
                fax : null,
                email : null,
                password : null,
                passwordCheck : null,
                // user : {
                //     firstName:'',
                //     lastName:'',
                //     email:'',
                //     password:'',
                //     passwordCheck:''
                // }
            }    
        },
        mounted() {
            // this.getTestData();
        },
        computed : {
        },
        methods : {
            checkForm: function (e) {
                this.errors = [];
                if (this.email && this.password && this.passwordCheck) {
                    this.submitRegister();
                    // return true; 
                }

                if (!this.email) {
                    this.errors.push('The email is required.');
                }
                if (!this.password) {
                    this.errors.push('The password is required.');
                }
                if (!this.passwordCheck) {
                    this.errors.push('Confirm password is required.');
                }
                if (this.password !== this.passwordCheck) 
                {
                    this.errors.push('The values for the New Password and Confirm Password fields do not match.');
                }
                e.preventDefault();
            },
            submitRegister() {
                // axios
                //     .post("http://127.0.0.1:8000/api/register", {
                        
                //             "name" : "Administrator",
                //             "email" : "admin@test.com",
                //             "password" : "12345678",
                //             "password_confirmation" : "12345678"
                //             // "api_token":"Jll7q0BSijLOrzaOSm5Dr5hW9cJRZAJKOzvDlxjKCXepwAeZ7JR6YP5zQqnw"
                        
                //     })
                //     .then(response => {
                //         this.$router.push('/'); // Redirect to home
                //     });

                this.$auth.register({
                    data: {
                        name: this.name,
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.passwordCheck
                    },
                    success: function () {
                        this.success = true
                        this.$router.push({name: 'login', params: {successRegistrationRedirect: true}})
                    },
                    error: function (res) {
                        // console.log(res.response.data.errors)
                        this.has_error = true
                        this.error = res.response.data.error
                        this.errors = res.response.data.errors || {}
                    }
                })
            },
        }
    }
</script>