<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Register</h3>
                    </div>
                    <div class="card-body">
                        <form v-on:submit="submitRegister()">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="email" v-model='email' class="form-control"/>
                                <span class="help-block" v-if="has_error && errors.email">{{ errors.email }}</span>
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input id='password' type="password" v-model='password' class="form-control"/>
                                <span class="help-block" v-if="has_error && errors.password">{{ errors.password }}</span>
                            </div>
                            <div class="form-group">
                                <label>Confirm password:</label>
                                <input id='passwordCheck' type="password" v-model='passwordCheck' class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Register"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                errors : [],
                email : null,
                password : null,
                passwordCheck : null,
                success : false,
                has_error : false,
                error : ''
            }    
        },
        mounted() {
        },
        computed : {
        },
        methods : {
            submitRegister() {
                this.$auth.register({
                    data: {
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.passwordCheck
                    },
                    success: function () {
                        this.success = true
                        this.$router.push({name: 'login'})
                    },
                    error: function (res) {
                        // console.log(res.response.data.errors)
                        this.has_error = true
                        this.error = res.response.data.error
                        this.errors = res.response.data.errors || {}
                    }
                })
            },
        }
    }
</script>