<template>
   <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Hotel "{{hotel.name}}" details</h3>
                    </div>
                    <div class="alert alert-danger" v-if="hasError">
                        <p v-if="error == 'validation_error'">There are validation errors</p>
                    </div>
                    <div class="card-body">
                        <form v-on:submit="submitUpdate()">
                            <div class="form-group">
                                <img :src = "hotel.img" :alt = 'hotel.name' class="w-100">
                                <label>Picture URL:</label>
                                <input type="text" v-model='hotel.img' class="form-control">
                                <span class="help-block" v-if="hasError && errors.img">{{ errors.img }}</span>
                            </div>
                            <div class="form-group">
                                <label>Hotel:</label>
                                <input type="text" v-model='hotel.name' class="form-control">
                                <span class="help-block" v-if="hasError && errors.name">{{ errors.name }}</span>
                            </div>
                            <div class="form-group">
                                <label>Address:</label>
                                <input type="text" v-model='hotel.address' class="form-control">
                                <span class="help-block" v-if="hasError && errors.address">{{ errors.address }}</span>
                            </div>
                            <div class="form-group">
                                <label>City:</label>
                                <input type="text" v-model='hotel.city' class="form-control">
                                <span class="help-block" v-if="hasError && errors.city">{{ errors.city }}</span>
                            </div>
                            <div class="form-group">
                                <label>State:</label>
                                <input type="text" v-model='hotel.state' class="form-control">
                                <span class="help-block" v-if="hasError && errors.state">{{ errors.state }}</span>
                            </div>
                            <div class="form-group">
                                <label>Country:</label>
                                <input type="text" v-model='hotel.country' class="form-control">
                                <span class="help-block" v-if="hasError && errors.country">{{ errors.country }}</span>
                            </div>
                            <div class="form-group">
                                <label>Zip:</label>
                                <input type="text" v-model='hotel.zip' class="form-control">
                                <span class="help-block" v-if="hasError && errors.zip">{{ errors.zip }}</span>
                            </div>
                            <div class="form-group">
                                <label>Phone:</label>
                                <input type="text" v-model='hotel.phone' class="form-control">
                                <span class="help-block" v-if="hasError && errors.phone">{{ errors.phone }}</span>
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" v-model='hotel.email' class="form-control">
                                <span class="help-block" v-if="hasError && errors.email">{{ errors.email }}</span>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Update"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                error : '',
                errors : [],
                hotel : {},
                hasError : false,
                dialog : null,
            }
        },
        mounted() {
            this.getHotelDetails();
        },
        methods : {
            getHotelDetails() {
                axios
                    .get("http://127.0.0.1:8000/api/hotels/1", { // hardcode only one hotel with id = 1

                    })
                    .then(response => {
                        this.hotel = response.data
                    });
            },
            submitUpdate() {
                axios
                    .put("http://127.0.0.1:8000/api/hotels/1", this.hotel)
                    .then(responce => {
                        this.hasError = false
                        Vue.prototype.$dialog.alert('Hotel updated', {
                            animation: 'zoom',
                            okText: 'Ok'
                        })
                    })
                    .catch(error => {
                        this.hasError = true
                        this.error = error.response.data.status
                        this.errors = error.response.data.errors || {}
                    });
            }
        }
    }
</script>