<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Room manager</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="actions my-3">
                                <router-link class="btn btn-primary" :to="{name: 'roomCreate'}">Add room</router-link>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>Room name</td>
                                <td>Room type</td>
                                <td>Room capacity</td>
                                <td>Room image</td>
                                <td colspan="2">Actions</td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="room in rooms" v-bind:key="room.id">
                                    <td>{{ room.id }}</td>
                                    <td>{{ room.name }}</td>
                                    <td>{{ room.room_type.type }}</td>
                                    <td>{{ room.room_capacity.capacity }}</td>
                                    <td class="tdImg"><img :src="room.img" class="w-100"></td>
                                    <td>
                                        <router-link :to="{name: 'roomEdit', params: { id: room.id }}" 
                                            class="btn btn-secondary">Edit</router-link>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" @click.prevent="deleteRoom(room.id)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                rooms : null,
                dialog : null
            }    
        },
        mounted() {
            this.getRooms()
        },
        methods : {
            getRooms() {
                axios
                    .get("http://127.0.0.1:8000/api/rooms", {
                    })
                    .then(response => {
                        this.rooms = response.data
                    });
            },
            deleteRoom(id) {
                var self = this
                this.$dialog.confirm('Please confirm to delete', {
                    cancelText: 'Cancel'
                })
                .then(function() {
                    axios
                        .delete("http://127.0.0.1:8000/api/rooms/" + id)
                        .then(() => {
                            self.rooms.splice(self.rooms.indexOf(id), 1);
                        })
                        .catch(function(error) {
                            // handle error
                            Vue.prototype.$dialog.alert('Can\'t delete item', {
                                animation: 'zoom',
                                okText: 'Ok'
                            })
                        });
                })
            }
        }
    }
</script>
<style>
.tdImg {
    width: 140px;
}
</style>