<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Edit room</h3>
                    </div>
                    <div class="alert alert-danger" v-if="hasError && !success">
                        <p v-if="error == 'validation_error'">There are validation errors</p>
                    </div>
                    <div class="card-body">
                        <form v-on:submit="submitUpdate()">
                            <div class="form-group">
                                <label>Room name:</label>
                                <input type="text" v-model='room.name' class="form-control"/>
                                <span class="help-block" v-if="hasError && errors.name">{{ errors.name }}</span>
                            </div>
                            <div class="form-group">
                                <label>Room type: </label>
                                <select v-model="room.room_type_id">
                                    <option selected value="0">-- Please select room type --</option>
                                    <option v-for="(roomTypeOption, key) in roomTypes" 
                                            :selected="key === room.room_type_id ? 'selected' : ''"
                                            v-bind:value="roomTypeOption.id">{{ roomTypeOption.type }}</option>
                                </select>
                                <div>
                                    <span class="help-block" v-if="hasError && errors.room_type_id">{{ errors.room_type_id }}</span>
                                </div>
                            </div><div class="form-group">
                                <label>Room capacity:</label>
                                <select v-model="room.room_capacity_id">
                                    <option value="0">-- Please select room capacity --</option>
                                    <option v-for="(roomCapacityOption, key) in roomCapacities" 
                                            :selected="key === room.room_capacity_id ? 'selected' : ''"
                                            v-bind:value="roomCapacityOption.id">{{ roomCapacityOption.capacity }}</option>
                                </select>
                                <div>
                                    <span class="help-block" v-if="hasError && errors.room_capacity_id">{{ errors.room_capacity_id }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Room image:</label>
                                <input type="text" v-model='room.img' class="form-control"/>
                                <span class="help-block" v-if="hasError && errors.img">{{ errors.img }}</span>
                            </div>
                            <div class="form-group">
                                <router-link :to="{name: 'room'}" class="btn btn-link">Back</router-link>
                                <input type="submit" class="btn btn-primary" value="Update"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                id : 0,
                errors : [],
                hasError : false,
                error : '',

                // roomTypeModel : 0,
                roomTypes : [],
                // roomCapacityModel : 0,
                roomCapacities : [],

                room : {},
            }    
        },
        mounted() {
            this.getRoom()
            this.getRoomTypes()
            this.getRoomCapacities()
        },
        methods : {
            getRoom() {
                this.id = this.$route.params.id
                axios
                    .get("http://127.0.0.1:8000/api/rooms/" + this.id, {
                    })
                    .then(response => {
                        this.room = response.data
                    });
            },
            submitUpdate() {
                axios
                    .put("http://127.0.0.1:8000/api/rooms/" + this.id, this.room)
                    .then(response => {
                        this.hasError = false
                        this.$router.push({name: 'room'})
                    })
                    .catch(error => {
                        this.hasError = true
                        this.error = error.response.data.status
                        this.errors = error.response.data.errors || {}
                    });
            },
            getRoomTypes() {
                axios
                    .get("http://127.0.0.1:8000/api/room-types", {
                    })
                    .then(response => {
                        this.roomTypes = response.data
                    })
            },
            getRoomCapacities() {
                axios
                    .get("http://127.0.0.1:8000/api/room-capacities", {
                    })
                    .then(response => {
                        this.roomCapacities = response.data
                    })
            }
        }
    }
</script>