<template>
   <div class="container">
        Hello. This is just general test homepage for the common guest access.
   </div>
</template>
<script>
    export default {
        data() {
            return {}    
        },
        mounted() {
            
        },
        methods : {
        }
    }
</script>