<template>
   <div class="container">
        Reservation
   </div>
</template>
<script>
    export default {
        data() {
            return {}
        },
        mounted() {
        },
        methods : {
        }
    }
</script>